<%- include ('./partials/header'); %>

    <h1><%= movies[0].category %> movies</h1>
    <div class="poster-container">
        <% for (let i=0; i < movies.length; i++){ %>
            <div class="poster-item">
                <img src="<%= movies[i].poster %>" alt="poster-img"> 
                <p><%= movies[i].title %></p>
            </div>
            <% } %>
    </div>

<%- include ('./partials/footer'); %>