<%- include ('./partials/header'); %>

    <h2>More about this movie 👇</h2>
             <div class="movie-wrapper">
                <img src="<%=poster%>" alt="poster-img"> 
                <p>Title: <%=title%></p>
                <p>Year: <%=year%></p>
                <p>Rating: <%=rating%></p>
                <p>Category: <%=category%></p>
                <p>Plot: <%=plot%></p>
            </div>

<%- include ('./partials/footer'); %>